/SecurityDemos/MyPractiseJavaee8Security/nbproject/private/
/SecurityDemos/MyPractiseJavaee8Security/MyPractiseJavaee8Security-war/nbproject/private/
/SecurityDemos/MyPractiseJavaee8Security/MyPractiseJavaee8Security-ejb/nbproject/private/
/SecurityDemos/MyPractiseJavaee8Security/build/
/SecurityDemos/MyPractiseJavaee8Security/dist/
/SecurityDemos/MyPractiseJavaee8Security/MyPractiseJavaee8Security-ejb/build/
/SecurityDemos/MyPractiseJavaee8Security/MyPractiseJavaee8Security-ejb/dist/
/SecurityDemos/MyPractiseJavaee8Security/MyPractiseJavaee8Security-war/dist/
/SecurityDemos/MyPractiseJavaee8Security/MyPractiseJavaee8Security-war/build/
/JavaEE/MySingletonApp/nbproject/private/
/JavaEE/MySingletonApp/MySingletonApp-war/nbproject/private/
/JavaEE/MySingletonApp/MySingletonApp-ejb/nbproject/private/
/JavaEE/MySingletonApp/build/
/JavaEE/MySingletonApp/dist/
/JavaEE/MySingletonApp/MySingletonApp-ejb/build/
/JavaEE/MySingletonApp/MySingletonApp-ejb/dist/
/JavaEE/MySingletonApp/MySingletonApp-war/build/
/JavaEE/MySingletonApp/MySingletonApp-war/dist/
/JavaEE/MessageDemo/EjbMessageService/EjbMessageService-ejb/build/
/JavaEE/MessageDemo/EjbMessageService/EjbMessageService-ejb/dist/
/JavaEE/MessageDemo/EjbMessageService/EjbMessageService-ejb/nbproject/private/
/JavaEE/MessageDemo/EjbMessageService/EjbMessageService-war/build/
/JavaEE/MessageDemo/EjbMessageService/EjbMessageService-war/dist/
/JavaEE/MessageDemo/EjbMessageService/EjbMessageService-war/nbproject/private/
/JavaEE/MessageDemo/EjbMessageService/build/
/JavaEE/MessageDemo/EjbMessageService/dist/
/JavaEE/MessageDemo/EjbMessageService/nbproject/private/
/JavaEE/MessageDemo/JmsClient/build/
/JavaEE/MessageDemo/JmsClient/dist/
/JavaEE/MessageDemo/JmsClient/nbproject/private/
/JavaEE/EjbRestApp/nbproject/private/
/JavaEE/EjbRestApp/EjbRestApp-war/nbproject/private/
/JavaEE/EjbRestApp/EjbRestApp-ejb/nbproject/private/
/JavaEE/EjbRestApp/EjbRestApp-ejb/dist/
/JavaEE/EjbRestApp/EjbRestApp-ejb/build/
/JavaEE/EjbRestApp/EjbRestApp-war/build/
/JavaEE/EjbRestApp/build/
/JavaEE/EjbRestApp/dist/
/JavaEE/EjbRestApp/EjbRestApp-war/dist/
/JWD/FIrstJSFApp/nbproject/private/
/JWD/FIrstJSFApp/dist/
/JWD/FIrstJSFApp/build/
/WordFIleHandle/WordHandling/nbproject/private/
/WordFIleHandle/WordHandling/build/
/WordFIleHandle/WordHandling/dist/
/JavaEE/RestServiceTest/nbproject/private/
/JavaEE/RestServiceClientTest/nbproject/private/
/JavaEE/RestServiceClientTest/build/
/JavaEE/RestServiceClientTest/dist/
/JavaEE/RestServiceTest/build/
/JavaEE/RestServiceTest/dist/
/SecurityDemos/SecurityForSSL/nbproject/private/
/SecurityDemos/SecurityForSSL/dist/
/SecurityDemos/SecurityForSSL/build/
/JWD/JSFTable/nbproject/private/
/JWD/JSFTable/build/
/JWD/JSFTable/dist/
/JWD/DataTableDemo/nbproject/private/
/JWD/DataTableDemo/dist/
/JWD/DataTableDemo/build/