<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlet1.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlet1.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlet1.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet1.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResponse</servlet-name>
        <servlet-class>Servlet1.ServletResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfig_Servlet</servlet-name>
        <servlet-class>ServletConfig_Servlet</servlet-class>
        <init-param>
            <param-name>dept</param-name>
            <param-value>MSCIT</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletContext_Servlet</servlet-name>
        <servlet-class>ServletContext_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResponse</servlet-name>
        <url-pattern>/ServletResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfig_Servlet</servlet-name>
        <url-pattern>/ServletConfig_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContext_Servlet</servlet-name>
        <url-pattern>/ServletContext_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>
            DBURL
        </param-name>
        <param-value>
            jdbc:mysql://localhost/db
        </param-value>
    </context-param>
</web-app>
