<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>EmployeeValidation</filter-name>
        <filter-class>filter.EmployeeValidation</filter-class>
    </filter>
    <filter>
        <filter-name>DepartmentValidation</filter-name>
        <filter-class>filter.DepartmentValidation</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DepartmentValidation</filter-name>
        <servlet-name>adddept</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeValidation</filter-name>
        <servlet-name>addServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>Servlets.FormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>Servlets.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>Servlets.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptForm</servlet-name>
        <servlet-class>Servlets.DeptForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adddept</servlet-name>
        <servlet-class>Servlets.adddept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displaydept</servlet-name>
        <servlet-class>Servlets.displaydept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDept</servlet-name>
        <servlet-class>Servlets.DeleteDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptWiseEmp</servlet-name>
        <servlet-class>Servlets.DeptWiseEmp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/FormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptForm</servlet-name>
        <url-pattern>/DeptForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adddept</servlet-name>
        <url-pattern>/adddept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displaydept</servlet-name>
        <url-pattern>/displaydept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDept</servlet-name>
        <url-pattern>/DeleteDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptWiseEmp</servlet-name>
        <url-pattern>/DeptWiseEmp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
